<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}Sistema ADDAC-FADCANIC{% endblock %}</title>
</head>
		{% block content %}
<table border=1>
	<caption>Tabla completa con toda las encuestas</caption>
<tr>
<th>nombre</th>
<th>comunidad</th>
<th>primera producto</th>
<th>primera area sembrada</th>
<th>primera area cosechada</th>
<th>primera produccion</th>
<th>razon</th>
<th>primera producto</th>
<th>primera area sembrada</th>
<th>primera area cosechada</th>
<th>primera produccion</th>
<th>razon</th>
<th>primera producto</th>
<th>primera area sembrada</th>
<th>primera area cosechada</th>
<th>primera produccion</th>
<th>razon</th>
<th>postrera producto</th>
<th>postrera area sembrada</th>
<th>postrera area cosechada</th>
<th>postrera produccion</th>
<th>razon</th>
<th>postrera producto</th>
<th>postrera area sembrada</th>
<th>postrera area cosechada</th>
<th>postrera produccion</th>
<th>razon</th>
<th>postrera producto</th>
<th>postrera area sembrada</th>
<th>postrera area cosechada</th>
<th>postrera produccion</th>
<th>razon</th>
<th>postrera producto</th>
<th>postrera area sembrada</th>
<th>postrera area cosechada</th>
<th>postrera produccion</th>
<th>razon</th>
<th>postrera producto</th>
<th>postrera area sembrada</th>
<th>postrera area cosechada</th>
<th>postrera produccion</th>
<th>razon</th>


</tr>
		{% for fila in datos %}
		<tr>
			{% for cosito in fila %}
				<td>{{ cosito }} </td>
            {% endfor %}
		</tr>
		{% endfor %}
</table>

{% endblock %}
</body>
</html>
