*   { margin: 0; padding: 0; }
body {
    font-size: 14;
    font-family: Sans-Serif, Arial, Verdana; 
    color: black;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
}

a img {
    border: 0;
}

#page-wrap {
    margin:6px 0 0 243px;
    width: 841px;
    overflow: hidden;
}
#main-content {
    position: relative;
    z-index: 100px;
    float: left;
    padding: 20px;
    width: 420px;
}
#footer {
    margin:-5px 0 0 262px;
    z-index: 100px;
    background: rgba(0,2,4,0.8);
    padding: 11px;
    width: 680px;
}
#footer a {
    color: #F3F6F7;
}
#footer p {
    margin: 0 0 0 290px;
}

#header {
    margin:0px 0 0 263px;
    padding: 0px;
    width: 702px;
    overflow: hidden;
}
#header ul {
    float: right;
    list-style-type:none;
    list-style-position:outside;
    font-weight: normal;
    margin-top: 40px;
   
}
#header a{
    margin: 6px;
    padding: 4px;
}
#header img {
    float:left;
}
#main-nav a {
    color:black;
    text-decoration:none;
    display:block;
    line-height: 27px;
    padding: 0px 10px;
    z-index: 100;
}
#main-nav a:hover {
    text-decoration:underline;
    color:#339900;
}
#main-nav li {
    display:block;
    float:left;
}
.der{
    float:right;
}
hr {
	border-width:1px;
	border-style:dashed;
	border-color:#80a384;
	border-left:none;
	border-right:none;
	width: 699px;
	margin:3px 0 0 20px;
}
/*  esto es del efecto de la foto*/
#slider1 {
    width: 700px; /* important to be same as image width */
    height: 400px; /* important to be same as image height */
    position: relative; /* important */
	overflow: hidden; /* important */
}

#slider1Content {
    width: 700px; /* important to be same as image width or wider */
    position: absolute;
	top: 0;
	margin-left: 0;
}
.slider1Image {
    float: left;
    position: relative;
	display: none;
}
.slider1Image span {
    position: absolute;
	font: 10px/15px Arial, Helvetica, sans-serif;
    padding: 10px 13px;
    width: 700px;
    background-color: #000;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
	-khtml-opacity: 0.7;
    opacity: 0.7;
    color: #fff;
    display: none;
}
.clear {
	clear: both;
}
.slider1Image span strong {
    font-size: 14px;
}
.left {
	top: 0;
    left: 0;
	width: 110px !important;
	height: 395px;
}
.right {
	right: 0;
	bottom: 0;
	width: 90px !important;
	height: 392px;
}
.bottom {
	bottom: 0;
    left: 0;
}
ul { list-style-type: none;}
