*   { margin: 0; padding: 0; }
body {
    font-size: 13px;
    font-family: Sans-Serif, Arial, Verdana; 
    color: black;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
}

a img {
    border: 0;
}

#page-wrap {
    margin:6px 0 0 243px;
    width: 841px;
    overflow: hidden;
}
#main-content {
    position: relative;
    z-index: 100px;
    float: left;
    padding: 20px;
    width: 420px;
}
#footer {
    margin:-5px 0 0 262px;
    z-index: 100px;
    background: rgba(0,2,4,0.8);
    padding: 11px;
    width: 680px;
}
#footer a {
    color: #F3F6F7;
}
#footer p {
    margin: 0 0 0 290px;
}

#header {
    margin:0px 0 0 263px;
    padding: 0px;
    width: 702px;
    overflow: hidden;
}
#header ul {
    float: right;
    list-style-type:none;
    list-style-position:outside;
    font-weight: normal;
    margin-top: 40px;
   
}
#header a{
    margin: 6px;
    padding: 4px;
}
#header img {
    float:left;
}
hr {
	border-width:1px;
	border-style:dashed;
	border-color:#80a384;
	border-left:none;
	border-right:none;
	width: 699px;
	margin:3px 0 0 20px;
}
/*  Esto es para el efecto de la fotos */
#slider1 {
    width: 700px;
    height: 400px;
    position: relative;
	overflow: hidden; 
}

#slider1Content {
    width: 700px; 
    position: absolute;
	top: 0;
	margin-left: 0;
}
.slider1Image {
    float: left;
    position: relative;
	display: none;
}
.slider1Image span {
    position: absolute;
	font: 10px/15px Arial, Helvetica, sans-serif;
    padding: 10px 13px;
    width: 700px;
    background-color: #000;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
	-khtml-opacity: 0.7;
    opacity: 0.7;
    color: #fff;
    display: none;
}
.clear {
	clear: both;
}
.slider1Image span strong {
    font-size: 14px;
}
.left {
	top: 0;
    left: 0;
	width: 110px !important;
	height: 395px;
}
.right {
	right: 0;
	bottom: 0;
	width: 90px !important;
	height: 392px;
}
.bottom {
	bottom: 0;
    left: 0;
}
ul { list-style-type: none;}

/* Esto es el Menu */
.nav-menu {
	position: relative;
	height: 29px;
	width: 455px;
	background-color: white;
	padding: 10px;
	margin: 0px 0 -15px 0;
	overflow: hidden;
	border: 0px solid gray;
}
.nav-menu li {
    float: left;
    list-style: none;
}
.nav-menu li.back {
    border: 1px solid #000;
    background-color: #e6e8ea;
    width: 9px;
    height: 30px;
	z-index: 8;
	position: absolute;
	}
.nav-menu li a {
	font: bold 14px Sans-Serif, Arial, Verdana;
	font-style: oblique;
	font-variant: small-caps;
	text-decoration: none;
	color: #000;
	outline: none;
	text-align: center;
	top: 7px;
	text-transform: capitalize;
	letter-spacing: 0;
	z-index: 10;
	display: block;
	float: left;
	height: 30px;
	position: relative;
	overflow: hidden;
	margin: auto 10px;
}
.nav-menu li a:hover {
	color: #B7A7B7;

}
.nav-menu li a:active, .nav-menu li a:visited {
	border: none;
}
/* el siderbar  */
#sidebar {
    float: right;
    width: 242px;
    margin-right: 55px;
    padding: 16px;
}

#main-nav {
    list-style: none;
    }
#main-nav li {
    font: 16px Georgia;
}
#main-nav li a {
    color: black;
}
#main-nav li a:hover {
    color: green;
}              
