{% extends 'base.html' %}

{% block content %}
<table>
<caption>Tabla áreas mz</caption>
<thead>
         <tr>
				<th>Maíz</th>
                 <th>Frijol</th>
                 <th>Sorgo</th>
         </tr>
   </thead>
<tr>
				<td>Area Sembrada (Mz)</td>
                 <td>{{ maiz_sembrada }}</td>
                 <td>{{ frijol_sembrada }}</td>
				<td>{{ arroz_sembrada }}</td>
</tr>
<tr>
				<td>Area Cosechada (Mz)</td>
                 <td>{{ maiz_cosechada }}</td>
                 <td>{{ frijol_cosechada }}</td>
				<td>{{ arroz_cosechada }}</td>
</tr>
<tr>
				<td>Area Perdida (Mz)</td>
                 <td>{{ maiz_perdida }}</td>
                 <td>{{ frijol_perdida }}</td>
				<td>{{ arroz_perdida }}</td>
</tr>
<tr>
				<td>Producción (qq)</td>
                 <td>{{ maiz_produccion }}</td>
                 <td>{{ frijol_produccion }}</td>
				<td>{{ arroz_produccion }}</td>
</tr>
<tr>
				<td>Rendimiento(qq/Mz)</td>
                 <td>{{ maiz_rendi }}</td>
                 <td>{{ frijol_rendi }}</td>
				<td>{{ arroz_rendi }}</td>
</tr>
</table>




{% endblock %}
